.header_navigation {
    background-color: #aaaaaa;
}

.background {
    background: #ffffff;
    width: 80%;
    width: 1600px;
    min-width: 800px;
    height: auto;
    margin: 0 10%;
}

.header_background {
    background: #F1E4E6;
    width: 1600px;
    min-width: 800px;
    height: 764px;
    /* margin: 0 10%; */
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222222;
    height: 75px;
    width: 1600px;
    min-width: 800px;
    gap: 50%;
}

.navigation .navigation_left_block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    min-width: 300;
}

.navigation_right_block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;
    min-width: 300;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}

.img_top {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 30px;
}

.banner_text {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 450px;
    gap: 16px;
    margin-right: 20%;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

body {
    background-color: #aaaaaa;
}

.top_content {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    justify-content: center;
    justify-items: start;
    align-items: center;
    gap: 30px;
    margin: 3%;
    height: auto;
}

.img_top_content_1st {
    position: relative;
    width: 360px;
    height: 260px;
    box-shadow: 0px 10px 10px 0px #c5c5c5;
}

.img_top_content_2nd {
    width: 1140px;
    height: 180px;
    box-shadow: 0px 10px 10px 0px #c5c5c5;
}

.text_overlay {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 105px 122px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    background-color: #211616B3;
    opacity: 1;
}

.text_overlay_2nd {
    position: absolute;
    bottom: -11px;
    left: 416px;
    padding: 65px 513px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    background-color: #211616B3;
    opacity: 1;
}

.text_overlay_pink {
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #F16D7F;
    font-weight: 700;
    font-size: 24px;
}

.main_content_text_h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #222222;
    margin: 95px 0 0;
}

.main_content_text_p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #9F9F9F;
    margin: 0 0 45px;
}

.main_content {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    justify-content: center;
    justify-items: start;
    align-items: center;
    place-items: center;
    gap: 30px;
    margin: 3%;
    height: auto;
}

.main_content_button {
    text-align: center;
    align-items: center;
    margin: 6%;
}

.main_content_img {
    background-color: #f3f3f3;
    text-align: center;
    Width: 360px;
    Height: 580px;
}

.main_content_img_prod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 420px;
    margin-top: 5%;
    background-color: #F7E4E2;
}

.main_content_text_prod {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
    gap: 15px;
    margin-top: 5%;
}

.img_prod_h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

.img_prod_p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #5D5D5D;
    text-align: left;
}

.main_content_price {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #F16D7F;
}

.main_content__button_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 50px;
    border: 2px solid #FF6A6A;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #F26376;
    margin-bottom: 25%;
}

.main_content__button_1:hover {
    transition: ease-in 0.5s;
    box-shadow: inset 300px 0 0 0 rgb(158, 66, 146);
    color: rgb(255, 255, 255);
}