* {
    font-family: 'Open Sans';
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    background: var(--020-a-18, #020A18);
    gap: 20px;
}

a {
    color: var(--ffffff, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.content__block {
    border: 1px solid #ff6c6c;
    width: 1564px;
    margin: auto;
}



.header_menu {
    border: 1px solid #DD0BC8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 30px;     
    gap: 72px;
}

.content__into {
    border: 1px solid #547bc4;
    display: flex;
    align-items: center;
    padding: auto;
    margin: 30px;
}

.top__info {
    border: 1px solid #F4C006;
    padding: 84px;
    max-width: 700px;
    margin: 30px;
    /* width: 40%; */
    /* min-height: 540px; */
}

.top__imaging {
    border: 1px solid #204e25;
    padding: 10px;
    display: inline-block;
    padding: 10px;
    margin:10px auto 5px;
}

/* .top_info_divLeft {
    border: 1px solid #204e25;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin:10px auto 5px;
}

.top_img_divRight {
    border: 1px solid #204e25;
    padding: 10px;
    display: inline-block;
    padding: 10px;
    margin:10px auto 5px;
} */

.text_h1 {
    color: var(--ffffff, #FFF);
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    /* 71.5px */
}

.text_h3 {
    color: var(--3-a-68-b-8, #3A68B8);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
}

.text_h5 {
    color: var(--ffffff, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    border: 1px solid #29F13D;
}

button {
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    color: var(--ffffff, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    height: 60px;
}

.imaging_play {
    width: 27px;
    height: 26px;
}

.imaging {
    max-width: 410px;
    max-height: 410px;
}

.top__buttons {
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 20px;
    /* max-width: 457px; */
    height: 87px;
    flex-shrink: 0;
    border: 1px solid #29F13D;
    justify-content: flex-start;
    align-items: center;
}

.top__logo {
    border: 1px solid #DD0BC8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 30px;     
    gap: 72px;
}

.imaging__foot {
    height: 59px;
    flex-shrink: 0;
}